/*
.boxLogin {
    position: relative;
    width: 380px;
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
    z-index: 10;
    overflow: hidden;
}
*/

.header {
    background-color: #2B6AE0;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 13rem;
    margin-left: 30rem;
    margin-right: 30rem;
    border-radius: 20px;
    background: #5B2BE0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
}


.containerLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f7fb;
  font-family: Arial, sans-serif;
}

.titleLogin {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #222;
}


.btnVisitor {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.btnVisitor:hover {
  background-color: #005ec2;
}
